<h1>Profil de <%= @user_profile.user.email %></h1>
<p><strong>Objectif :</strong> <%= @user_profile.goal %></p>
<p><strong>Niveau de départ :</strong> <%= @user_profile.starting_lvl %></p>
<p><strong>Équipement :</strong> <%= @user_profile.equipment %></p>
<p><strong>Séances par semaine :</strong> <%= @user_profile.sessions_per_week %></p>
<%= link_to "Modifier mon profil", edit_user_profile_path(@user_profile) %>
